header{
    max-width:768px;
    padding: 9px 22px 39px;
}
header .logo span{
    display: none;
} 
.cart-item{
    display: none;
}
.search-form{
    display: none;
    position: absolute;
    top: 70px;
    left: 22px;
    z-index: 10;
    width: calc(100%-44px);
    right: 22px;
    
    
}
.cart-icon{
    position: absolute;
    top:110px ;
    right: 18px;
    z-index: 5;
}
.search-mobile{
    width: 37px;
    height: 37px;
    background: url(images/search-icon.png) no-repeat center;
    display: block;
}
.bonus{
    flex-wrap: wrap;
    margin-top: 17px;
    

}
.search{
    background:#eeeeee;
    
}
.search-close{
    background: url(images/close.svg) no-repeat center;
}
.slader{
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    
}
.slider-item{
    border-radius: 0;
    padding: 40px 20px;
    height: 415px;
    margin-bottom: 17px;
}
.slider-item h1{
    font-size: 35px;
    line-height: 51px;
    width: 90%;
    margin: 0 auto;

}
.slider-item h2{
    width: 90%;
    margin: 0 auto;
    margin-bottom:32px ;
}
.slader-bth{
    display: block;
    width: 260px;
    margin: 0 auto;
}
.owl-carousel .owl-nav button.owl-prev{
    margin-left: 16px;
}
.owl-carousel .owl-nav button.owl-next{
    margin-right: 16px;
    margin-left: 17px;
}
.owl-nav{
    right: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.delivery{
    width: 100%;
    padding-left: 22px;
}
.gallery figure{
    flex-basis: 270px;
    width: 100%;
}
.benefits h2{
    padding-left: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}
.benefits{
    padding-top: 0;
}
.catolog{
    padding-bottom: 20px;
}
.food-exemple{
    flex-direction: column;
    flex-wrap: wrap;
}
.social{
    margin-top:29px ;
}
.food-item img{
    display: block;
    max-width: 50%;
    margin-left: 25%;
}